<h3>Options</h3>
<label for="{{width.id}}">Width</label><br/>
<input id="{{width.id}}" name="{{width.name}}" value="{{width.value}}" />
<br/>
<label for="{{height.id}}">Height</label><br/>
<input id="{{height.id}}" name="{{height.name}}" value="{{height.value}}" />
<hr/>
<h3>Address</h3>
<label for="{{address.id}}">Address</label><br/>
<input id="{{address.id}}" name="{{address.name}}" value="{{address.value}}" />
<h3>Type map</h3>
<select name="{{type.name}}">
  <option value="1">Google map</option>
  <option value="2">Bing map</option>
  <option value="3">Mapquest</option>
</select>


